.carousel__wrapper {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.carousel__line {
  display: flex;
  transition: all 1s;
}

.carousel__item {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.carousel__line img {
  width: 100%;
}

.carousel__arrow {
  position: absolute;
  top: 45%;
  width: auto;
  height: auto;
  padding: 16px 10px;
  transition: 0.6s;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2.5px);
  border-radius: 50%;
}

.carousel__arrow-prev {
  left: 1%;
}
.carousel__arrow-next {
  right: 1%;
}

.carousel__arrow-prev:active,
.slider__arrow-next:active {
  transform: scale(0.8);
}
.carousel__pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.carousel__dot {
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2.5px);
  border-radius: 50%;
}

.carousel__dot-active {
  background: #000000;
}

.carousel__pagination {
  margin-top: 20px;
}
