.carousel__wrapper {
  max-width: 1230px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;

  @include laptop {
    max-width: 1024px;
  }

  @include laptop-940 {
    max-width: 940px;
  }
}

.carousel__line {
  display: flex;
  justify-content: center;
  transition: all 1s;
}

.carousel__item {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.carousel__item img {
  width: 270px;
  height: auto;
}

.carousel__item img:nth-child(4) {
  @include laptop {
    display: none;
  }
}

.carousel__item img:nth-child(3) {
  @include laptop-940 {
    display: none;
  }
}

.carousel__item img:nth-child(2) {
  @include mobile-550 {
    display: none;
  }
}

.carousel__arrow {
  position: absolute;
  top: 40%;
  width: auto;
  height: auto;
  padding: 16px 10px;
  transition: 0.6s;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2.5px);
  border-radius: 50%;
}

.carousel__arrow-prev {
  left: 55px;

  @include laptop-940 {
    left: 119px;
  }

  @include tablet {
    display: none;
  }
}

.carousel__arrow-next {
  right: 55px;

  @include laptop-940 {
    right: 119px;
  }

  @include tablet {
    display: none;
  }
}

.carousel__arrow-prev:active,
.carousel__arrow-next:active {
  transform: scale(0.8);
}


.carousel__pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.carousel__dot {
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2.5px);
  border-radius: 50%;
}

.carousel__dot-active {
  background: #000000;
}

.carousel__pagination {
  margin-top: 20px;
}