section.carousel 
    .carousel__wrapper 
        .carousel__line     
            .carousel__item 
                img(src="./img/carousel/01.png" alt="loft")
                img(src="./img/carousel/02.png" alt="loft")
                img(src="./img/carousel/03.png" alt="loft")
                img(src="./img/carousel/04.png" alt="loft")
            .carousel__item 
                img(src="./img/carousel/05.png" alt="loft")
                img(src="./img/carousel/06.png" alt="loft")
                img(src="./img/carousel/07.png" alt="loft")
                img(src="./img/carousel/08.png" alt="loft")
            .carousel__item 
                img(src="./img/carousel/09.png" alt="loft")
                img(src="./img/carousel/10.png" alt="loft")
                img(src="./img/carousel/11.png" alt="loft")
                img(src="./img/carousel/12.png" alt="loft")
        button.carousel__arrow.carousel__arrow-prev 
            img(src="./img/carousel/arrow-left.svg" alt="button")
        button.carousel__arrow.carousel__arrow-next 
            img(src="./img/carousel/arrow-right.svg" alt="button")

        .carousel__pagination 
            .carousel__dot.carousel__dot-active 
            .carousel__dot 
            .carousel__dot
script(src="./js/main.min.js")


