.carousel
    .carousel__box
        .carousel__item 
            .projects__item
                img(src="./img/projects/01.png" alt="image")
        .carousel__item 
            .projects__item
                img(src="./img/projects/02.png" alt="image")
        .carousel__item 
            .projects__item
                img(src="./img/projects/03.png" alt="image")
        .carousel__item 
            .projects__item
                img(src="./img/projects/04.png" alt="image")
        .carousel__item 
            .projects__item
                img(src="./img/projects/01.png" alt="image")
        .carousel__item 
            .projects__item
                img(src="./img/projects/02.png" alt="image")
        .carousel__item 
            .projects__item
                img(src="./img/projects/03.png" alt="image")
        .carousel__item 
            .projects__item
                img(src="./img/projects/04.png" alt="image")
        button.carousel__btn.carousel__btn--left
            img(src="./img/slider/arrow-left.svg" alt="arrow")
        button.carousel__btn--right
            img(src="./img/slider/arrow-right.svg" alt="arrow")