header.header 
    .header__wrapper
        nav.nav.container
            a.logo(href="index.html")
                img(src="../../img/header/logo.svg" alt="logo")
            ul.nav__list 
                li
                    a.nav__link(href="") Портфолио
                li
                    a.nav__link(href="") услуги и цены
                li
                    a.nav__link(href="") контакты
            .nav__tel
                a.nav__link(href="tel:+79184123443") +7 918 412-34-43
    .header__content 
        h1.header__title Ladesign
        .header__description Дизайн-проекты жилых и коммерческих помещений. Малая архитектура

    .header__scroll
        a(href="")
            img(src="../../img/header/arrow.svg" alt="arrow")