header.header-work 
    .header__wrapper
        nav.nav.container
            a.logo(href="index.html")
                img(src="./img/header/logo.svg" alt="logo")
            ul.nav__list 
                li
                    a.nav__link(href="portfolio.html") Портфолио
                li
                    a.nav__link(href="prices.html") услуги и цены
                li
                    a.nav__link(href="contacts.html") контакты
            .nav__tel
                a.nav__link(href="tel:+79184123443") +7 918 412-34-43
                .nav-icon
                    .nav-icon__middle
    .header-work__content 
        h1.header-work__title Loft
        .header-work__description Unique collection