nav.navigation 
    .navigation__wrapper.container
        a.logo(href="index.html")
            img(src="./img/navigation/logo-black.svg" alt="logo")
        ul.navigation__list
            li
                a.navigation__link(href="portfolio.html") Портфолио
            li
                a.navigation__link(href="work.html") услуги и цены
            li
                a.navigation__link(href="") контакты
        .navigation__tel.nav__tel-black
            a.navigation__link(href="tel:+79184123443") +7 918 412-34-43