
section.portfolio 
    .container 
        h2.portfolio__title.title Портфолио
        .tabs 
            .tabs__nav
                .tabs__nav-item.active(data-tab="tab-1") Все работы
                .tabs__nav-item(data-tab="tab-2")  Квартиры
                .tabs__nav-item(data-tab="tab-3")  Дома
                .tabs__nav-item(data-tab="tab-4")  Коммерческие помещения
            .tabs__container
                .tabs__content.active.tab-1
                    .tabs__body
                        .tabs__elem-1
                            a.tabs__content-link(href="work.html") 
                                .tabs__content-image
                                    picture
                                        source(media="(max-width: 540px)" srcset="./img/tabs/tabs-mobile/01.png")
                                        source(media="(max-width: 768px)" srcset="./img/tabs/tabs-tablet/01.png")
                                        source(media="(max-width: 1024px)" srcset="./img/tabs/tabs-laptop/01.png")
                                        img(src="./img/tabs/1.png" alt="pic")
                                    .tabs__content-text
                                        h3 Loft
                                        span Unique collection
                        .tabs__elem-2
                            a.tabs__content-link(href="work.html") 
                                .tabs__content-image
                                    picture
                                        source(media="(max-width: 540px)" srcset="./img/tabs/tabs-mobile/02.png")
                                        source(media="(max-width: 768px)" srcset="./img/tabs/tabs-tablet/02.png")
                                        source(media="(max-width: 1024px)" srcset="./img/tabs/tabs-laptop/02.png")
                                        img(src="./img/tabs/2.png" alt="pic")
                                    .tabs__content-text
                                        h3 Loft
                                        span Unique collection
                        .tabs__elem-3 
                            a.tabs__content-link(href="work.html") 
                                .tabs__content-image
                                    picture
                                        source(media="(max-width: 540px)" srcset="./img/tabs/tabs-mobile/03.png")
                                        source(media="(max-width: 768px)" srcset="./img/tabs/tabs-tablet/03.png")
                                        source(media="(max-width: 1024px)" srcset="./img/tabs/tabs-laptop/03.png")
                                        img(src="./img/tabs/3.png" alt="pic")
                                    .tabs__content-text
                                        h3 Loft
                                        span Unique collection
                        .tabs__elem-4
                            a.tabs__content-link(href="work.html") 
                                .tabs__content-image
                                    picture
                                        source(media="(max-width: 540px)" srcset="./img/tabs/tabs-mobile/04.png")
                                        source(media="(max-width: 768px)" srcset="./img/tabs/tabs-tablet/04.png")
                                        source(media="(max-width: 1024px)" srcset="./img/tabs/tabs-laptop/04.png")
                                        img(src="./img/tabs/4.png" alt="pic")
                                    .tabs__content-text
                                        h3 Loft
                                        span Unique collection
                        .tabs__elem-5
                            a.tabs__content-link(href="work.html") 
                                .tabs__content-image
                                    picture
                                        source(media="(max-width: 540px)" srcset="./img/tabs/tabs-mobile/05.png")
                                        source(media="(max-width: 768px)" srcset="./img/tabs/tabs-tablet/05.png")
                                        source(media="(max-width: 1024px)" srcset="./img/tabs/tabs-laptop/05.png")
                                        img(src="./img/tabs/5.png" alt="pic")
                                    .tabs__content-text
                                        h3 Loft
                                        span Unique collection
                        .tabs__elem-6
                            a.tabs__content-link(href="work.html") 
                                .tabs__content-image
                                    picture
                                        source(media="(max-width: 540px)" srcset="./img/tabs/tabs-mobile/06.png")
                                        source(media="(max-width: 768px)" srcset="./img/tabs/tabs-tablet/06.png")
                                        source(media="(max-width: 1024px)" srcset="./img/tabs/tabs-laptop/06.png")
                                        img(src="./img/tabs/6.png" alt="pic")
                                    .tabs__content-text
                                        h3 Loft
                                        span Unique collection
                        .tabs__elem-7
                            a.tabs__content-link(href="work.html") 
                                .tabs__content-image
                                    picture
                                        source(media="(max-width: 540px)" srcset="./img/tabs/tabs-mobile/07.png")
                                        source(media="(max-width: 768px)" srcset="./img/tabs/tabs-tablet/07.png")
                                        source(media="(max-width: 1024px)" srcset="./img/tabs/tabs-laptop/07.png")
                                        img(src="./img/tabs/7.png" alt="pic")
                                    .tabs__content-text
                                        h3 Loft
                                        span Unique collection
                        .tabs__elem-8
                            a.tabs__content-link(href="work.html") 
                                .tabs__content-image
                                    picture
                                        source(media="(max-width: 768px)" srcset="./img/tabs/tabs-tablet/08.png")
                                        source(media="(max-width: 1024px)" srcset="./img/tabs/tabs-laptop/08.png")
                                        img(src="./img/tabs/8.png" alt="pic")
                                    .tabs__content-text
                                        h3 Loft
                                        span Unique collection
                        .tabs__elem-9
                            a.tabs__content-link(href="work.html") 
                                .tabs__content-image
                                    picture
                                        source(media="(max-width: 768px)" srcset="./img/tabs/tabs-tablet/09.png")
                                        source(media="(max-width: 1024px)" srcset="./img/tabs/tabs-laptop/09.png")
                                        img(src="./img/tabs/9.png" alt="pic")
                                    .tabs__content-text
                                        h3 Loft
                                        span Unique collection
                        .tabs__elem-10
                            a.tabs__content-link(href="work.html") 
                                .tabs__content-image
                                    picture
                                        source(media="(max-width: 768px)" srcset="./img/tabs/tabs-tablet/10.png")
                                        source(media="(max-width: 1024px)" srcset="./img/tabs/tabs-laptop/10.png")
                                        img(src="./img/tabs/10.png" alt="pic")
                                    .tabs__content-text
                                        h3 Loft
                                        span Unique collection
                .tabs__content.tab-2
                    .tabs__body
                        .tabs__elem-1
                            a.tabs__content-link(href="work.html") 
                                .tabs__content-image
                                    picture
                                        source(media="(max-width: 540px)" srcset="./img/tabs/tabs-mobile/01.png")
                                        source(media="(max-width: 768px)" srcset="./img/tabs/tabs-tablet/01.png")
                                        source(media="(max-width: 1024px)" srcset="./img/tabs/tabs-laptop/01.png")
                                        img(src="./img/tabs/1.png" alt="pic")
                                    .tabs__content-text
                                        h3 Loft
                                        span Unique collection
                        .tabs__elem-2
                            a.tabs__content-link(href="work.html") 
                                .tabs__content-image
                                    picture
                                        source(media="(max-width: 540px)" srcset="./img/tabs/tabs-mobile/02.png")
                                        source(media="(max-width: 768px)" srcset="./img/tabs/tabs-tablet/02.png")
                                        source(media="(max-width: 1024px)" srcset="./img/tabs/tabs-laptop/02.png")
                                        img(src="./img/tabs/2.png" alt="pic")
                                    .tabs__content-text
                                        h3 Loft
                                        span Unique collection
                        .tabs__elem-3 
                            a.tabs__content-link(href="work.html") 
                                .tabs__content-image
                                    picture
                                        source(media="(max-width: 540px)" srcset="./img/tabs/tabs-mobile/03.png")
                                        source(media="(max-width: 768px)" srcset="./img/tabs/tabs-tablet/03.png")
                                        source(media="(max-width: 1024px)" srcset="./img/tabs/tabs-laptop/03.png")
                                        img(src="./img/tabs/3.png" alt="pic")
                                    .tabs__content-text
                                        h3 Loft
                                        span Unique collection
                        .tabs__elem-4
                            a.tabs__content-link(href="work.html") 
                                .tabs__content-image
                                    picture
                                        source(media="(max-width: 540px)" srcset="./img/tabs/tabs-mobile/04.png")
                                        source(media="(max-width: 768px)" srcset="./img/tabs/tabs-tablet/04.png")
                                        source(media="(max-width: 1024px)" srcset="./img/tabs/tabs-laptop/04.png")
                                        img(src="./img/tabs/4.png" alt="pic")
                                    .tabs__content-text
                                        h3 Loft
                                        span Unique collection
                        .tabs__elem-5
                            a.tabs__content-link(href="work.html") 
                                .tabs__content-image
                                    picture
                                        source(media="(max-width: 540px)" srcset="./img/tabs/tabs-mobile/05.png")
                                        source(media="(max-width: 768px)" srcset="./img/tabs/tabs-tablet/05.png")
                                        source(media="(max-width: 1024px)" srcset="./img/tabs/tabs-laptop/05.png")
                                        img(src="./img/tabs/5.png" alt="pic")
                                    .tabs__content-text
                                        h3 Loft
                                        span Unique collection
                        .tabs__elem-6
                            a.tabs__content-link(href="work.html") 
                                .tabs__content-image
                                    picture
                                        source(media="(max-width: 540px)" srcset="./img/tabs/tabs-mobile/06.png")
                                        source(media="(max-width: 768px)" srcset="./img/tabs/tabs-tablet/06.png")
                                        source(media="(max-width: 1024px)" srcset="./img/tabs/tabs-laptop/06.png")
                                        img(src="./img/tabs/6.png" alt="pic")
                                    .tabs__content-text
                                        h3 Loft
                                        span Unique collection
                        .tabs__elem-7
                            a.tabs__content-link(href="work.html") 
                                .tabs__content-image
                                    picture
                                        source(media="(max-width: 540px)" srcset="./img/tabs/tabs-mobile/07.png")
                                        source(media="(max-width: 768px)" srcset="./img/tabs/tabs-tablet/07.png")
                                        source(media="(max-width: 1024px)" srcset="./img/tabs/tabs-laptop/07.png")
                                        img(src="./img/tabs/7.png" alt="pic")
                                    .tabs__content-text
                                        h3 Loft
                                        span Unique collection
                        .tabs__elem-8
                            a.tabs__content-link(href="work.html") 
                                .tabs__content-image
                                    picture
                                        source(media="(max-width: 768px)" srcset="./img/tabs/tabs-tablet/08.png")
                                        source(media="(max-width: 1024px)" srcset="./img/tabs/tabs-laptop/08.png")
                                        img(src="./img/tabs/8.png" alt="pic")
                                    .tabs__content-text
                                        h3 Loft
                                        span Unique collection
                        .tabs__elem-9
                            a.tabs__content-link(href="work.html") 
                                .tabs__content-image
                                    picture
                                        source(media="(max-width: 768px)" srcset="./img/tabs/tabs-tablet/09.png")
                                        source(media="(max-width: 1024px)" srcset="./img/tabs/tabs-laptop/09.png")
                                        img(src="./img/tabs/9.png" alt="pic")
                                    .tabs__content-text
                                        h3 Loft
                                        span Unique collection
                        .tabs__elem-10
                            a.tabs__content-link(href="work.html") 
                                .tabs__content-image
                                    picture
                                        source(media="(max-width: 768px)" srcset="./img/tabs/tabs-tablet/10.png")
                                        source(media="(max-width: 1024px)" srcset="./img/tabs/tabs-laptop/10.png")
                                        img(src="./img/tabs/10.png" alt="pic")
                                    .tabs__content-text
                                        h3 Loft
                                        span Unique collection
                .tabs__content.tab-3
                    .tabs__body
                        .tabs__body
                        .tabs__elem-1
                            a.tabs__content-link(href="work.html") 
                                .tabs__content-image
                                    picture
                                        source(media="(max-width: 540px)" srcset="./img/tabs/tabs-mobile/01.png")
                                        source(media="(max-width: 768px)" srcset="./img/tabs/tabs-tablet/01.png")
                                        source(media="(max-width: 1024px)" srcset="./img/tabs/tabs-laptop/01.png")
                                        img(src="./img/tabs/1.png" alt="pic")
                                    .tabs__content-text
                                        h3 Loft
                                        span Unique collection
                        .tabs__elem-2
                            a.tabs__content-link(href="work.html") 
                                .tabs__content-image
                                    picture
                                        source(media="(max-width: 540px)" srcset="./img/tabs/tabs-mobile/02.png")
                                        source(media="(max-width: 768px)" srcset="./img/tabs/tabs-tablet/02.png")
                                        source(media="(max-width: 1024px)" srcset="./img/tabs/tabs-laptop/02.png")
                                        img(src="./img/tabs/2.png" alt="pic")
                                    .tabs__content-text
                                        h3 Loft
                                        span Unique collection
                        .tabs__elem-3 
                            a.tabs__content-link(href="work.html") 
                                .tabs__content-image
                                    picture
                                        source(media="(max-width: 540px)" srcset="./img/tabs/tabs-mobile/03.png")
                                        source(media="(max-width: 768px)" srcset="./img/tabs/tabs-tablet/03.png")
                                        source(media="(max-width: 1024px)" srcset="./img/tabs/tabs-laptop/03.png")
                                        img(src="./img/tabs/3.png" alt="pic")
                                    .tabs__content-text
                                        h3 Loft
                                        span Unique collection
                        .tabs__elem-4
                            a.tabs__content-link(href="work.html") 
                                .tabs__content-image
                                    picture
                                        source(media="(max-width: 540px)" srcset="./img/tabs/tabs-mobile/04.png")
                                        source(media="(max-width: 768px)" srcset="./img/tabs/tabs-tablet/04.png")
                                        source(media="(max-width: 1024px)" srcset="./img/tabs/tabs-laptop/04.png")
                                        img(src="./img/tabs/4.png" alt="pic")
                                    .tabs__content-text
                                        h3 Loft
                                        span Unique collection
                        .tabs__elem-5
                            a.tabs__content-link(href="work.html") 
                                .tabs__content-image
                                    picture
                                        source(media="(max-width: 540px)" srcset="./img/tabs/tabs-mobile/05.png")
                                        source(media="(max-width: 768px)" srcset="./img/tabs/tabs-tablet/05.png")
                                        source(media="(max-width: 1024px)" srcset="./img/tabs/tabs-laptop/05.png")
                                        img(src="./img/tabs/5.png" alt="pic")
                                    .tabs__content-text
                                        h3 Loft
                                        span Unique collection
                        .tabs__elem-6
                            a.tabs__content-link(href="work.html") 
                                .tabs__content-image
                                    picture
                                        source(media="(max-width: 540px)" srcset="./img/tabs/tabs-mobile/06.png")
                                        source(media="(max-width: 768px)" srcset="./img/tabs/tabs-tablet/06.png")
                                        source(media="(max-width: 1024px)" srcset="./img/tabs/tabs-laptop/06.png")
                                        img(src="./img/tabs/6.png" alt="pic")
                                    .tabs__content-text
                                        h3 Loft
                                        span Unique collection
                        .tabs__elem-7
                            a.tabs__content-link(href="work.html") 
                                .tabs__content-image
                                    picture
                                        source(media="(max-width: 540px)" srcset="./img/tabs/tabs-mobile/07.png")
                                        source(media="(max-width: 768px)" srcset="./img/tabs/tabs-tablet/07.png")
                                        source(media="(max-width: 1024px)" srcset="./img/tabs/tabs-laptop/07.png")
                                        img(src="./img/tabs/7.png" alt="pic")
                                    .tabs__content-text
                                        h3 Loft
                                        span Unique collection
                        .tabs__elem-8
                            a.tabs__content-link(href="work.html") 
                                .tabs__content-image
                                    picture
                                        source(media="(max-width: 768px)" srcset="./img/tabs/tabs-tablet/08.png")
                                        source(media="(max-width: 1024px)" srcset="./img/tabs/tabs-laptop/08.png")
                                        img(src="./img/tabs/8.png" alt="pic")
                                    .tabs__content-text
                                        h3 Loft
                                        span Unique collection
                        .tabs__elem-9
                            a.tabs__content-link(href="work.html") 
                                .tabs__content-image
                                    picture
                                        source(media="(max-width: 768px)" srcset="./img/tabs/tabs-tablet/09.png")
                                        source(media="(max-width: 1024px)" srcset="./img/tabs/tabs-laptop/09.png")
                                        img(src="./img/tabs/9.png" alt="pic")
                                    .tabs__content-text
                                        h3 Loft
                                        span Unique collection
                        .tabs__elem-10
                            a.tabs__content-link(href="work.html") 
                                .tabs__content-image
                                    picture
                                        source(media="(max-width: 768px)" srcset="./img/tabs/tabs-tablet/10.png")
                                        source(media="(max-width: 1024px)" srcset="./img/tabs/tabs-laptop/10.png")
                                        img(src="./img/tabs/10.png" alt="pic")
                                    .tabs__content-text
                                        h3 Loft
                                        span Unique collection
                .tabs__content.tab-4
                    .tabs__body
                        .tabs__body
                        .tabs__elem-1
                            a.tabs__content-link(href="work.html") 
                                .tabs__content-image
                                    picture
                                        source(media="(max-width: 540px)" srcset="./img/tabs/tabs-mobile/01.png")
                                        source(media="(max-width: 768px)" srcset="./img/tabs/tabs-tablet/01.png")
                                        source(media="(max-width: 1024px)" srcset="./img/tabs/tabs-laptop/01.png")
                                        img(src="./img/tabs/1.png" alt="pic")
                                    .tabs__content-text
                                        h3 Loft
                                        span Unique collection
                        .tabs__elem-2
                            a.tabs__content-link(href="work.html") 
                                .tabs__content-image
                                    picture
                                        source(media="(max-width: 540px)" srcset="./img/tabs/tabs-mobile/02.png")
                                        source(media="(max-width: 768px)" srcset="./img/tabs/tabs-tablet/02.png")
                                        source(media="(max-width: 1024px)" srcset="./img/tabs/tabs-laptop/02.png")
                                        img(src="./img/tabs/2.png" alt="pic")
                                    .tabs__content-text
                                        h3 Loft
                                        span Unique collection
                        .tabs__elem-3 
                            a.tabs__content-link(href="work.html") 
                                .tabs__content-image
                                    picture
                                        source(media="(max-width: 540px)" srcset="./img/tabs/tabs-mobile/03.png")
                                        source(media="(max-width: 768px)" srcset="./img/tabs/tabs-tablet/03.png")
                                        source(media="(max-width: 1024px)" srcset="./img/tabs/tabs-laptop/03.png")
                                        img(src="./img/tabs/3.png" alt="pic")
                                    .tabs__content-text
                                        h3 Loft
                                        span Unique collection
                        .tabs__elem-4
                            a.tabs__content-link(href="work.html") 
                                .tabs__content-image
                                    picture
                                        source(media="(max-width: 540px)" srcset="./img/tabs/tabs-mobile/04.png")
                                        source(media="(max-width: 768px)" srcset="./img/tabs/tabs-tablet/04.png")
                                        source(media="(max-width: 1024px)" srcset="./img/tabs/tabs-laptop/04.png")
                                        img(src="./img/tabs/4.png" alt="pic")
                                    .tabs__content-text
                                        h3 Loft
                                        span Unique collection
                        .tabs__elem-5
                            a.tabs__content-link(href="work.html") 
                                .tabs__content-image
                                    picture
                                        source(media="(max-width: 540px)" srcset="./img/tabs/tabs-mobile/05.png")
                                        source(media="(max-width: 768px)" srcset="./img/tabs/tabs-tablet/05.png")
                                        source(media="(max-width: 1024px)" srcset="./img/tabs/tabs-laptop/05.png")
                                        img(src="./img/tabs/5.png" alt="pic")
                                    .tabs__content-text
                                        h3 Loft
                                        span Unique collection
                        .tabs__elem-6
                            a.tabs__content-link(href="work.html") 
                                .tabs__content-image
                                    picture
                                        source(media="(max-width: 540px)" srcset="./img/tabs/tabs-mobile/06.png")
                                        source(media="(max-width: 768px)" srcset="./img/tabs/tabs-tablet/06.png")
                                        source(media="(max-width: 1024px)" srcset="./img/tabs/tabs-laptop/06.png")
                                        img(src="./img/tabs/6.png" alt="pic")
                                    .tabs__content-text
                                        h3 Loft
                                        span Unique collection
                        .tabs__elem-7
                            a.tabs__content-link(href="work.html") 
                                .tabs__content-image
                                    picture
                                        source(media="(max-width: 540px)" srcset="./img/tabs/tabs-mobile/07.png")
                                        source(media="(max-width: 768px)" srcset="./img/tabs/tabs-tablet/07.png")
                                        source(media="(max-width: 1024px)" srcset="./img/tabs/tabs-laptop/07.png")
                                        img(src="./img/tabs/7.png" alt="pic")
                                    .tabs__content-text
                                        h3 Loft
                                        span Unique collection
                        .tabs__elem-8
                            a.tabs__content-link(href="work.html") 
                                .tabs__content-image
                                    picture
                                        source(media="(max-width: 768px)" srcset="./img/tabs/tabs-tablet/08.png")
                                        source(media="(max-width: 1024px)" srcset="./img/tabs/tabs-laptop/08.png")
                                        img(src="./img/tabs/8.png" alt="pic")
                                    .tabs__content-text
                                        h3 Loft
                                        span Unique collection
                        .tabs__elem-9
                            a.tabs__content-link(href="work.html") 
                                .tabs__content-image
                                    picture
                                        source(media="(max-width: 768px)" srcset="./img/tabs/tabs-tablet/09.png")
                                        source(media="(max-width: 1024px)" srcset="./img/tabs/tabs-laptop/09.png")
                                        img(src="./img/tabs/9.png" alt="pic")
                                    .tabs__content-text
                                        h3 Loft
                                        span Unique collection
                        .tabs__elem-10
                            a.tabs__content-link(href="work.html") 
                                .tabs__content-image
                                    picture
                                        source(media="(max-width: 768px)" srcset="./img/tabs/tabs-tablet/10.png")
                                        source(media="(max-width: 1024px)" srcset="./img/tabs/tabs-laptop/10.png")
                                        img(src="./img/tabs/10.png" alt="pic")
                                    .tabs__content-text
                                        h3 Loft
                                        span Unique collection

