.preloader#preloader    
    .loadingio-spinner-spin-dc2kvnvvz05
        .ldio-0wgw6dzh29g
            div
                div 
            div
                div
            div
                div
            div
                div
            div
                div
            div
                div
            div
                div
            div
                div


