.about {
  padding-top: 150px;

  @include laptop-940 {
    padding-top: 70px;
  }
  @include tablet {
    padding-top: 69px;
  }
}

.about__title {
  margin-bottom: 50px;
}

.about__text {
  max-width: 520px;
  margin-bottom: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
  color: #777777;
}

.about__wrapper {
  display: flex;
  gap: 101px;
  @include laptop {
    gap: 40px;
  }
  @include laptop-940 {
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }
}

.about__image-img {
  width: 585px;
  height: 528px;

  @include laptop {
    max-width: 450px;
    max-height: 528px;
  }
  @include laptop-940 {
    max-width: 678px;
    max-height: 528px;
  }
  @include mobile {
    width: 320px;
    height: 226px;
  }
}
