.description {
    padding-top: 25px;
    padding-bottom: 100px;
}

.description__title {
    font-weight: 300;
    font-size: 30px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #3D3D3D;
    margin-bottom: 47px;
}

.description__wrapper {
    display: flex;
    justify-content: space-between;
}

.description__table,
.description__text {
    width: 487px;
}

.description__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    color: #777777;
    text-align: justify;
}

.description__table-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 24px;
    padding-top: 24px;
    border-bottom: 1px solid #D5D5D5;

}

.description__table .description__table-item:first-child {
    padding-top: 0;
}

.description__table-header {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: #878787;
}

.description__table-item span {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    color: #393246;
}