.navigation {
    padding-top: 45px;
    padding-bottom: 45px;
    border-bottom: 1px solid #D5D5D5;
}

.navigation__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation__list {
    display: flex;
    gap: 50px;
}

.navigation__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: #777777;
    transition: 0.2s;

    &:hover {
        color: #777777;
    }
}

.navigation__tel {
    position: relative;
}

.navigation__tel a::before {
    content: "";
    background-image: url(../img/header/tel.svg);
    position: absolute;
    background-repeat: no-repeat;
    width: 23px;
    height: 25px;
    top: -6px;
    left: -31px;
}