.projects {
    padding-top: 150px;
    text-align: center;
}

.projects__title {
    margin-bottom: 50px;
}

.projects__wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.projects__item img {
    width: 90%;
}