.slider {
    width: 1200px;
    height: 700px;
    position: relative;
}

.slider__wrapper {
    overflow: hidden;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 700px;
    z-index: 1;
}

.slider__slides {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    width: 10000px;
}

.slider__slides.shifting {
    transition: left .2s ease-out;
}

.slider__item {
    width: 1200px;
    height: 700px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 1s;
    position: relative;
    border-radius: 2px;
}

.control {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50px;
    margin-top: -20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.slider__prev,
.slider__next {
    position: absolute;
}

.slider__prev {
    cursor: pointer;
    left: 30px;
    top: 50%;
    width: auto;
    height: auto;
    margin-top: -22px;
    padding: 16px 10px;
    font-weight: 700;
    font-size: 16px;
    transition: .6s;
    border: 1px solid #fff;
    background: 0 0;
    backdrop-filter: blur(2.5px);
    border-radius: 50%;
}

.slider__next {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    width: auto;
    height: auto;
    margin-top: -22px;
    padding: 16px 10px;
    font-weight: 700;
    font-size: 16px;
    transition: .6s;
    border: 1px solid #fff;
    background: 0 0;

    backdrop-filter: blur(2.5px);
    border-radius: 50%;
}


.slider__prev:active,
.slider__next:active {
    transform: scale(.8);
}