doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        // styles
        link(rel="stylesheet" href="./css/style.min.css")
        include pug/modules/favicons.pug
        title Главная

    body 
        include pug/modules/preloader.pug
        include pug/modules/header.pug

        section.about#about
            .container 
                h2.about__title.title Наша команда дает уверенность
                .about__wrapper.container
                    .accordion
                        .about__text 
                            p Дизайн-проект от студии LA Design не только совершенен по дизайну, но и реализуем
                        .accordion__item
                            .accordion__title.accordion__header  Каждый проект уникален
                            .accordion__text 
                                p Дизайнеры и архитекторы студии не работают по шаблону, учитывают все пожелания и не копируют работы из чужих портфолио
                        .accordion__item
                            .accordion__title.accordion__header  Полное сопровождение
                            .accordion__text
                                p Клиент может заказать услугу по авторскому надзору и вообще не приезжать на объект. Мы будем контролировать и корректировать ход выполнения ремонтных работ согласно дизайн-проекту
                        .accordion__item
                            .accordion__title.accordion__header  Согласование перепланировки
                            .accordion__text
                                p Поможем согласовать любые планировочные решения, которые не противоречат закону. Возьмем на себя все бумажные вопросы, чтобы освободить ваше время
                        .accordion__item
                            .accordion__title.accordion__header  Техническая документация
                            .accordion__text
                                p Готовим полный пакет документов, который гарантирует ответственный подход к работе и высокое качество реализованного дизайн-проекта
                        .accordion__item
                            .accordion__title.accordion__header  Строгая политика конфиденциальности
                            .accordion__text
                                p Обеспечиваем защиту персональных данных заказчиков и не раскрываем их третьим лицам.
                    .about__image
                        picture 
                            source(srcset="./img/about/about-image-mobile.png" media='(max-width:540px)' alt="image")
                            source(srcset="./img/about/about-image-tablet.png" media='(max-width:940px)' alt="image")
                            source(srcset="./img/about/about-image-1024.png" media='(max-width:1024px)' alt="image")
                            img.about__image-img(src="./img/about/about-image.png" alt="image")
        include pug/modules/portfolio.pug
        include pug/modules/request.pug
        include pug/modules/footer.pug
        .popup__bg#popup__bg
            .popup
                img.popup__close(src="./img/pop-up/close.svg" alt="close")
                h3.title-h3.popup__title оставЬТЕ СВОИ КОНТАКТЫ. мЫ СВЯЖЕМСЯ С ВАМИ И ОБСУДИМ ВАШ ПРОЕКТ
                form.popup__form(action="#") 
                    .form-item.popup__form-item 
                        span.form-item__placeholder Ваше имя
                        input.form-item__input.form-item__field(type="text")
                    .form-item.popup__form-item  
                        span.form-item__placeholder Ваш email
                        input.form-item__input.form-item__field(type="email")
                .form__info 
                    button.button(type="submit") Отправить
                    p   Нажимая на кнопку, я даю 
                        a(href="#") согласие 
                        a(href="#") на обработку персональных данных




        script(src="./js/main.min.js")



