doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    // styles
    link(rel="stylesheet" href="./css/style.min.css")
    title Document
  body 
    include pug/modules/header.pug

    section.about
      .container 
        h2.about__title.title Наша команда дает уверенность
        .about__wrapper.container
          .accordion
            .about__text 
              p Дизайн-проект от студии LA Design не только совершенен по дизайну, но и реализуем
            .accordion__item
              .accordion__title Каждый проект уникален
              .accordion__text 
                p Дизайнеры и архитекторы студии не работают по шаблону, учитывают все пожелания и не копируют работы из чужих портфолио
            .accordion__item
              .accordion__title Полное сопровождение
              .accordion__text
                p Клиент может заказать услугу по авторскому надзору и вообще не приезжать на объект. Мы будем контролировать и корректировать ход выполнения ремонтных работ согласно дизайн-проекту
            .accordion__item
              .accordion__title Согласование перепланировки
              .accordion__text
                p Поможем согласовать любые планировочные решения, которые не противоречат закону. Возьмем на себя все бумажные вопросы, чтобы освободить ваше время
            .accordion__item
              .accordion__title Техническая документация
              .accordion__text
                p Готовим полный пакет документов, который гарантирует ответственный подход к работе и высокое качество реализованного дизайн-проекта
            .accordion__item
              .accordion__title Строгая политика конфиденциальности
              .accordion__text
                p Обеспечиваем защиту персональных данных заказчиков и не раскрываем их третьим лицам.
          .about__image
            img(src="./img/about/about-image.png" alt="image")
    section.portfolio 
      .container 
        h2.portfolio__title.title Портфолио
        .tab 
          .tab__buttons
            .tab__btn все работы
            .tab__btn квартиры
            .tab__btn дома
            .tab__btn коммерческие помещения
          .tab__body 
            .tab__content 
              h1 Hello 
              p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid modi voluptate ipsa veniam, deleniti delectus minus totam! Enim quis harum accusamus similique? Laudantium similique, sint unde autem placeat qui eum?
            .tab__content 
              h1 Hello 
              p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid modi voluptate ipsa veniam, deleniti delectus minus totam! Enim quis harum accusamus similique? Laudantium similique, sint unde autem placeat qui eum?
            .tab__content 
              h1 Hello 
              p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid modi voluptate ipsa veniam, deleniti delectus minus totam! Enim quis harum accusamus similique? Laudantium similique, sint unde autem placeat qui eum?
            .tab__content 
              h1 Hello 
              p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid modi voluptate ipsa veniam, deleniti delectus minus totam! Enim quis harum accusamus similique? Laudantium similique, sint unde autem placeat qui eum?


    script(src="./js/main.min.js")



