$laptop: 1024px;
$tablet: 768px;
$tablet-700: 700px;
$mobile: 540px;
$laptop-940: 940px;
$mobile-550: 550px;

@mixin laptop {
  @media (max-width: #{$laptop}) {
    @content;
  }
}
@mixin laptop-940 {
  @media (max-width: #{$laptop-940}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin tablet-700 {
  @media (max-width: #{$tablet-700}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}
@mixin mobile-550 {
  @media (max-width: #{$mobile-550}) {
    @content;
  }
}
